In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("cleaned2.csv")

In [3]:
df

      Unnamed: 0                                                  0
0              0  date wed 21 aug 2002 10 54 46 0500 chris garri...
1              1  martin posted tasso papadopoulos greek sculpto...
2              2  man threatens explosion moscow thursday august...
3              3  klez virus die already prolific virus ever kle...
4              4  wed aug 21 2002 15 46 ulises ponce wrote hi co...
...          ...                                                ...
3047        3047  stumbling greatest way marketing century undou...
3048        3048  mean made usa cna hitting road tell ingenuity ...
3049        3049  answer u unlist information message brought an...
3050        3050  ebay 1 rated work home business opportunity pc...
3051        3051  uncommon exotic pleasure botanical feeling mar...

[3052 rows x 2 columns]